<div class="container">

  <div class="restaurant-name">
    <h1><%= @restaurant.name %></h1>
  </div>

  <div class="category">
    <h4>Category : <%= @restaurant.category %></h4>
  </div>

  <div class="address">
    <p>Address : <%= @restaurant.address %></p>
  </div>

  <div class="phone_number">
    <p><strong>Phone Number : <%= @restaurant.phone_number %></strong></p>
  </div>

</div>
